In [ ]:
# Initialize Otter
import otter
grader = otter.Notebook("2XXXXXXX_1.ipynb")

# **Assignment 1 (Part 1)**

<h3>Assignment Instructions</h3>

* **How to install 'otter'**: Run `pip install otter-grader` in your Anaconda Command Prompt
* **Otter**: It is an autograder that we will be using for grading your notebooks.
* **Initialize Otter**: Run the cell above to initialize otter. Replace `2XXXXXX_1.ipynb` with your updated filename inside the grader variable above. 
* **grader.check('qn')**: This command runs test cases for nth question `qn` provided to you and displays the result. But these are not the only test cases, these are provided just for your basic testing. There will be some *hidden test cases* on which your answers will be tested as well.
* You are **not** allowed to edit any pre-defined variables and as per the instructions for every question you have to assign your answers to these variables.
* Write your answers in place of `...`

<h3>Submission Instructions</h3>

* There are two parts of this assignment. You should name both notebooks as **YourRollNumber_PartNumber.ipynb**. (e.g. this part should be named as *`2XXXXXXX_1.ipynb`*)
* You must submit a zip file containg just two notebooks and it must not has any folder or any other file. 
* The name of the zip file must be your `RollNumber_PA1`

Please run the cell below to import all the necessary libraries that you would require for this part

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

<h3>Context about the dataset</h3>


The titanic dataset is a record of passengers aboard the Titanic and their fates (whether or not they survived the incident). This includes socio-economic class divide between passengers, their ages, names, fares and even their passenger IDs. The principal source for data about Titanic passengers is the Encyclopedia Titanica. The datasets used here were begun by a variety of researchers. One of the original sources is Eaton & Haas (1994) Titanic: Triumph and Tragedy, Patrick Stephens Ltd, which includes a passenger list created by many researchers and edited by Michael A. Findlay.

As we explore this data from titanic, it is your job to answer some pressing questions regarding the various age groups aboard, their economic statuses and survival rates in each gender. Following are some details about the variable to help you understand the data better. <br>

<h4>Variable Descriptions</h4>

* Pclass ->   Passenger Class  (1 = 1st; 2 = 2nd; 3 = 3rd) <br>
* Survived ->  Did the passenger survive? (0 = No; 1 = Yes) <br>
* Name ->  name <br>
* Sex ->  sex  <br>
* Age ->  age  <br>
* SibSp ->  Number of Siblings/Spouses Aboard <br>
* Parch ->  Number of Parents/Children Aboard <br>
* Ticket ->   Ticket Number <br>
* Fare ->   Passenger Fare (British pound) <br>
* Cabin ->   Cabin <br>
* Embarked ->   Port of Embarkation (C = Cherbourg; Q = Queenstown; S = Southampton) <br>

**Question 0:** Load the titanic dataset file into the variable `titanic_df`

In [ ]:
titanic_df = ...

In [ ]:
grader.check("Q0")

**Question 1:** Using the describe function, find the mean fare  and store it into `mean_fare`, rounded off to three decimal places. You cannot directly call the .mean() function.

In [ ]:
mean_fare = ...

In [ ]:
grader.check("Q1")

**Question 2:** Drop the `Cabin` and `Family_Size` column inside the dataframe. `titanic_df` should no longer contain these columns.

In [ ]:
...

In [ ]:
grader.check("Q2")

**Question 3:** What percentage of people aboard the ship were females? Store the result rounded off to three decimal places in `female_percentage`.

In [ ]:
female_percentage = ...

In [ ]:
grader.check("Q3")

**Question 4:** Set the `PassengerID` of passengers as the index for this dataset.

In [ ]:
...

In [ ]:
grader.check("Q4")

**Question 5:** Convert all column names to lowercase and remove any leading and trailing whitespaces. Simultaneously, replace any non-leading and non-trailing spaces within the column names with an underscore. You are not allowed to hardcode the column names.

In [ ]:
...

In [ ]:
grader.check("Q5")

**Question 6:** Find the female passenger that had the highest fare and store the result in `highest_fare`. Furthermore, find the male passenger that had the lowest non-zero fare and store it in `lowest_fare`. <br>
Note: You are not meant to store the value only but the entire row entry.

In [ ]:
highest_fare = ...
lowest_fare = ...

In [ ]:
grader.check("Q6")

**Question 7:** Write a function `CalculateSurvival(data)` that takes in a dataframe and returns the survival percentage rounded off to three decimal places.

In [ ]:
def CalculateSurvivalRate(data):
    ...

In [ ]:
grader.check("Q7")

**Question 8A:** Add a column called `family` to the dataframe that shows true for a passenger whose family members (siblings, spouses, parents, or children) were on board and false otherwise.

In [ ]:
titanic_df["family"] = ...

In [ ]:
grader.check("Q8A")

**Question 8B:** Using the `CalculateSurvivalRate` function, find the survival percentage of the passengers who had family on board (siblings, spouses, children or parents) and store the result in `survival_rate_with_family`.

In [ ]:
survival_rate_with_family = ...

In [ ]:
grader.check("Q8B")

**Question 8C:** Using the `CalculateSurvivalRate` function, find the survival percentage of the passengers who did not have any family on board (no siblings, spouses, children and parents) and store the result in `survival_rate_without_family`.

In [ ]:
survival_rate_without_family = ...

In [ ]:
grader.check("Q8C")

**Question 8D:** Based on your findings above, were the passengers who had family more likely to survive than those who did not? Answer as 'Yes' or 'No' and store it in `ans`.

In [ ]:
ans = ...

In [ ]:
grader.check("Q8D")

**Question 9:** Use `groupby` to find the survival percentage of males and females and store them in `male_survival_percentage` and `female_survival_percentage` respectively. Round off your answers to three decimal places. Not using `groupby` will result in a zero for this question.

In [ ]:
male_survival_percentage = ...
female_surival_percentage = ...

In [ ]:
grader.check("Q9")

**Question 10:** Using the pandas iloc function, extract the rows with passengers aged between 5 to 20 and fare above 20. Store this result in `ilocresult`.

In [ ]:
ilocresult = ...

In [ ]:
grader.check("Q10")

**Question 11A:** Replace the integer values in the `Pclass` columns with corresponding string data types. For example, replace 1 with 'Upper', 2 with 'Middle' and 3 with 'Lower'.

In [ ]:
...

In [ ]:
grader.check("Q11A")

**Question 11B:** Using a pivot table, represent the male and female passengers that survived in each of the three passenger classes. Store the result in `class_count`.

In [ ]:
class_count = ...

In [ ]:
grader.check("Q11B")

**Well done on completing the first part of your assignment. Take a break and move onto the next!**